@charset "utf-8";
/* CSS Document */
.black12{
	font-family:"宋体"; font-size:12px;
	line-height:26px; color:#000;
	text-decoration:none;
}
body{
	margin:0px;
}
.white12{
	font-family:"宋体"; font-size:12px;
	line-height:30px; color:#fff;
	text-decoration:none;
}
a:link{
	font-family:"宋体"; font-size:12px;
	line-height:30px; color:#fff;
	text-decoration:none;
}
a:visited{
	font-family:"宋体"; font-size:12px;
	line-height:30px; color:#fff;
	text-decoration:none;
}
a;hover{
	font-family:"宋体"; font-size:12px;
	line-height:30px; color:#fff;
	text-decoration:none;
}
a;active{
	font-family:"宋体"; font-size:12px;
	line-height:30px; color:#fff;
	text-decoration:none;
}
	
